body {
    background-color: aqua;
}
.circle {
    background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    outline: 15px solid blue;
    outline-offset: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: all 0.5 ease-in-out;
    
}
.circle:hover {
    background-color: rgb(177, 194, 153);
    outline: 15px solid rgb(177, 194, 153);
}
.flex {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 500px;
}
.flex-items {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    margin: 20px;

}
.flex-items:hover {
background-color: #7fde0a;
}